{% extends 'blog_base.html' %}

{% block title %}Epona's Song Japanese Lyrics{% endblock %}

{% block date %}2013-04-26{% endblock %}

{% block article_content %}

<p>I love the re-arranged version of Epona's Song (Lon Lon Ranch) done by <a href="{% url 'soundtrack' 'legend-of-zelda-ocarina-of-time-rearranged' %}">Moka</a>, and I always wondered what the Japanese lyrics were so I could sing along, and also what they meant. I'd tried to find them in the past with no luck, but thanks to a fellow diehard Zelda fan who found them on an <a href="http://www.amazon.com/review/R2VSKVQ6EQO1Y5/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;linkCode=ur2&amp;tag=herbalcell-20">Amazon review of the CD</a>, here they are!</p>

<div class="center-italic">
    <p>
    Epona, Epona (Epona, Epona)<br />
    Come close (Sobanioide)<br />
    Together the two of us (Futari de ireba)<br />
    Won't be sad (Kanashi ku nankanai)<br />
    So I say (Dakara)<br />
    Epona (Epona)<br />
    Come here, come to me (Koko ni ite)<br />
    You are the one (Omae dakeba)<br />
    I will protect (Mama deageru)
    </p>

    <p>
    This is how I remember it (Koshite iru to omoidasu)<br />
    That day's dawn (Ano hino yoake)<br />
    The moon was going down (Tsuki ga shizu mi)<br />
    The sun was coming up (Taiyou to)<br />
    And then you were born (Omae ga umaneta)<br />
    </p>

    <p>
    Epona, Epona (Epona, Epona)<br />
    Come close (Sobani oide)<br />
    Together the two of us (Futari de ireba)<br />
    Won't be sad (Kanashi ku nankanai)<br />
    So I say (Dakara)<br />
    Epona (Epona)<br />
    Come here (Koko ni ite)<br />
    My song (Watashi no uta wa)<br />
    Listen to it (Kiiteite ne)<br />
    </p>

    <p>
    This is how I remember it (Koshite iru to omoidasu)<br />
    Back in the day (Ano kudano koto)<br />
    I think that for your sake my mother (Omae no tameni kaasan ga)<br />
    Made this song (Yukuta kono uta)<br />
    </p>

    <p>
    Tu lu lu, tu lu lu<br />
    Tu lu lu lu lu<br />
    Together the two of us (Futari de ireba)<br />
    Won't be sad (Kanashi ku nankanai)<br />
    </p>

    <p>
    Tu lu lu, tu lu lu<br />
    Tu lu lu lu lu<br />
    Don't forget (Wasure naidene)<br />
    This song (Kono uta)<br />
    This song (Kono uta)<br />
    </p>
</div>
{% endblock %}