{% extends 'gallery_base.html' %}
{% load custom_tags %}

{% block title %}Halloween 2012{% endblock %}

{% block date %}2012-11-15{% endblock %}

{% block article_content %}

<h2>Carving a Ghirahim Jack-o-lantern</h2>

<p>This Halloween I needed a design to carve in my pumpkin and I decided on <a href="http://zelda.wikia.com/wiki/Ghirahim">Ghirahim from Skyward Sword</a> because he can be pretty darn creepy (in addition to being fabulous). I took my own screenshot from a cutscene, traced it in Photoshop and designed my own stencil. Then I printed the stencil and taped it on my pumpkin. I used a small knife to poke along the lines to make an outline and then removed the paper and went about cutting out the pieces with a razor knife. You can find the stencil among the photos below. :) I also decided to carve a lil' apple because, well, the idea randomly popped into my head and we had a whole bag of apples. :P</p>

{% gallery '2012-halloween-pumpkin' %}

<p>It took me like 4 hours and the carved pumpkin lasted all of 1 day before the thin bits shriveled and made it look bad, but at least I got nice pictures of it before it died. ^~^</p>

<h2>Pumpkins are edible!</h2>

<p>I toasted all the seeds from the big pumpkin I carved, as well as the one from the pie pumpkin we got. And I used the pie pumpkin to make... get this... PIE! I wasn't sure if it would taste any different from canned pumpkin pie as I'd never had fresh pumpkin pie, but it definitely did! And was amazingly delicious. </p>

{% gallery '2012-halloween-pie' %}

<h2>Autumn in Maine</h2>

<p>We went to a nearby farm to buy our pumpkins 2 weeks before Halloween (a good deal, 4 pumpkins for $11!) and on the drive back we passed a pretty park. It was really foggy that day, and we ended up getting some pretty photos with a camera phone. So pretty I have to include them even though they're from a camera phone. ^_^ The third one reminds me of Lord of the Rings: "There are dead things! Dead faces in the water!"</p>

{% gallery '2012-autumn' %}

{% endblock %}