{% extends 'blog_base.html' %}
{% load custom_tags %}

{% block title %}How to make recycled paper{% endblock %}

{% block date %}2011-08-13{% endblock %}

{% block article_content %}

{% fancybox 'handmade-paper.jpg' 'My handmade paper' %}

<p>Making your own handmade recycled paper is quite fun, if you're into crafty type things. You can use your paper for all kinds of things &mdash; for example, I made <a href="http://herbalcell.deviantart.com/art/Cherry-Blossom-354673499">this watercolor painting</a> with one of my sheets. You could also make drawings, thoughtful letters, super-special custom greeting cards, etc. It makes whatever you're making that much more special and adds more of your own personal touch to it. If you're interested, read on!</p>

<h2>1. Gather some used paper</h2>

<p>First you'll need to find some used paper to recycle. If you want to end up with white paper, make sure to only use white paper to start out with. It's okay if the paper has ink on it &mdash; we'll be removing that. Printer or pen ink is easier to remove than photocopier ink, which tends to add little black flecks to your finished paper. I thought it actually gave my paper more visual interest with the flecks though, so it's alright to have them.</p>

<h2>2. Shred it up</h2>

<p>Shred up the paper into small pieces. A paper shredder works perfectly for this, but you could also just tear it up into tiny pieces by hand. The tinier the pieces the better.</p>

<h2>3. Soak the paper</h2>

<p>Add the shredded paper to a container of water and let it soak for about an hour.</p>

<h2>4. Blend the paper</h2>

<p>Now you'll need to use a blender to blend the wet paper mixture up a little at a time. Make sure that the paper-to-water ratio is pretty low so that it isn't hard on your blender. Blend it at a high speed for a minute or two, and then pour the blended paper through a mesh strainer to drain most of the water out, and then put the pulp into another bowl. There is no need to remove all the water at this point, just most of it. Repeat this process until all your paper is blended.</p>

<h2>5. Wash the pulp</h2>

<p>To remove the ink from the paper we'll be washing it thoroughly. Add a bit of water to your wet pulp and a good amount of a strong soap. Regular dish soap won't cut it &mdash; something more like dishwasher or laundry detergent works much better. It needs to be harsh enough to clean the pulp really well. Mix it up and let it soak for about 20-30 minutes, then drain your pulp again using the mesh strainer. No need to remove all the water yet &mdash; just most of it. Repeat this washing step several times, letting it soak for a while each time. Each time the water will become less gray and dirty looking. The more you repeat this, the cleaner and brighter your paper will be. I usually wash it about 3 times and then rinse it once.</p>

<h2>6. Bleach the pulp</h2>

<p>If you want your paper to be white, bleaching it gives it that extra boost of whiteness. Pour some water and a good amount of bleach into your pulp and let it soak for an hour or so. Then you'll want to drain and rinse the pulp 2 or 3 times to remove all the bleach. In the final rinsing steps, after I drain the pulp, I squeeze it out thoroughly by the handful to form wet paper-balls. This will ensure all the bleach is removed, and is also fun. :P</p>

<h2>7. Form the paper sheets</h2>

<p>For this step you'll need some kind of flat mesh screen, and a big enough container to fit the screen in it lying flat on the bottom. I used a plastic under-bed storage box and a skillet spatter screen (which is round). This was all I had on-hand and it ended up working great, although the largest sheet of paper I could get out of the circle was 5"x7". I heard of people using small window screens, or making your own, but I didn't do that.</p>

<p>Add your pulp to the box with some water. The thicker your mixture, the thicker your paper will be. If you plan to use ink or watercolor paint on your paper, you'll need to add some cornstarch to your pulp. Otherwise, it will be exactly like painting or writing on a paper towel &mdash; the ink will bleed outward and you can't get a crisp line. You'll need approximately 1/4 cup per gallon of pulp-water. If you don't have cornstarch, you can wait till the end and spray your paper with laundry starch or hairspray instead.</p>

<p>Insert your screen under the pulp by sliding it from one side, kindof like you were trying to scoop the pulp up with the screen. Slowly lift the screen straight up, keeping it perfectly flat. You may need to repeat this several times to get an even layer of pulp on the screen, but once you do, let the majority of the water drip out, and then carefully place the screen on a towel to dry.</p>

<p>Let the paper dry for about 12 hours. I make one sheet per day and let it dry overnight. When it feels and looks completely dry, you can loosen the paper from the edge and slowly just peel/pop it right off the screen. It should come off very easily at this point. Make sure not to tear it!</p>

<h2>8. Size and cut your paper</h2>

<p>Your paper will have a nice bumpy texture on one side, and a smooth texture on the other side, so you can choose which side you prefer to use.</p>

<p>Make a template out of a (new) sheet of paper of the desired size and trace it lightly with pencil onto your homemade paper-sheet. If you want your paper to have clean edges, carefully cut it out with scissors. If you want your paper to have a rougher, more handmade look, you could tear it along the edges.</p>

<p>You can take the excess paper that you cut off and re-blend it to add back into your pulp mixture. This will ensure you get as much use out of your precious pulp as you can. :)</p>

{% endblock %}