{% extends 'blog_base.html' %}

{% block title %}Majora's Mask poem{% endblock %}

{% block date %}2008-10-04{% endblock %}

{% block article_content %}

<p>This is a little experimental poem I wrote about one of my favorite games, <em>The Legend of Zelda: Majora's Mask</em>. I was seeing if I could convey the specific mood and feelings that the game gives me. And if you notice, the words are all placed with html code, it's not an image! It was interesting doing it that way.</p>

<div style="background: #222; color: #ccc; width: 470px; text-align: center; margin: 20px auto; padding: 30px 10px; border: 2px solid #fff; font-family: georgia; font-size: 11pt; position: relative;">

<img src="{{ STATIC_URL }}images/majoras-mask-poem/majoras-mask-1.jpg" width="289" height="405" style="border: 2px solid #000; padding: 0;" alt="Majora's Mask" title="Majora's Mask" />
<br />
<p>
<span style="position: absolute; left: 50px; top: 30px;">Majora's Mask.</span>
<span style="position: absolute; left: 200px; top: 90px;">Powerful.</span>
<span style="position: absolute; left: 50px; top: 300px;">Dangerous.</span>
<span style="position: absolute; left: 300px; top: 350px;">Stolen.</span>
</p>
<br />
<img src="{{ STATIC_URL }}images/majoras-mask-poem/majoras-mask-2.jpg" width="283" height="351"  style="border: 2px solid #000; padding: 0;" alt="Majora's Mask Skullkid" title="Majora's Mask Skullkid" />
<br />
<p>
<span style="position: absolute; left: 70px; top: 520px;">Mischievous imp.</span>
<span style="position: absolute; left: 360px; top: 550px;">Troublesome.</span>
<span style="position: absolute; left: 190px; top: 620px;">Deserted.</span>
<span style="position: absolute; left: 240px; top: 690px;">Child.</span>
<span style="position: absolute; left: 420px; top: 660px;">Sad.</span>
<span style="position: absolute; left: 0px; top: 720px;">Lonely.</span>
<span style="position: absolute; left: 180px; top: 740px;">Anger.</span>
<span style="position: absolute; left: 240px; top: 805px;">Revenge.</span>
<span style="position: absolute; left: 390px; top: 800px;">Ominous moon.</span>
</p>
<br />
<img src="{{ STATIC_URL }}images/majoras-mask-poem/majoras-mask-3.jpg" width="400" height="215"  style="border: 2px solid #000; padding: 0;" alt="Majora's Mask Termina" title="Majora's Mask Termina" />
<br />
<p>
<span style="position: absolute; left: 230px; top: 860px;">Termina.</span>
<span style="position: absolute; left: 60px; top: 900px;">Eerily familiar.</span>
<span style="position: absolute; left: 190px; top: 910px;">Somber.</span>
<span style="position: absolute; left: 340px; top: 920px;">Calm before the storm.</span>
<span style="position: absolute; left: 40px; top: 960px;">Dark feeling.</span>
<span style="position: absolute; left: 360px; top: 1040px;">Obligations.</span>
<span style="position: absolute; left: 10px; top: 1060px;">Have to save everyone.</span>
<span style="position: absolute; left: 360px; top: 1080px;">Mustn't slow down.</span>
</p>
<br />
<img src="{{ STATIC_URL }}images/majoras-mask-poem/majoras-mask-4.jpg" width="400" height="218"  style="border: 2px solid #000; padding: 0;" alt="Majora's Mask Moon" title="Majora's Mask Moon" />
<br />
<p>
<span style="position: absolute; left: 80px; top: 1125px;">What if I don't make it?</span>
<span style="position: absolute; left: 390px; top: 1190px;">Failure.</span>
<span style="position: absolute; left: 340px; top: 1290px;">Moon will fall.</span>
<span style="position: absolute; left: 0px; top: 1340px;">Moon will consume everything.</span>
</p>
<br />
<img src="{{ STATIC_URL }}images/majoras-mask-poem/majoras-mask-5.jpg" width="400" height="219"  style="border: 2px solid #000; padding: 0;" alt="Majora's Mask Clock Town" title="Majora's Mask Clock Town" />
<br />
<p>
<span style="position: absolute; left: 80px; top: 1410px;">Townspeople.</span>
<span style="position: absolute; left: 390px; top: 1405px;">Innocent.</span>
<span style="position: absolute; left: 290px; top: 1450px;">Simple.</span>
<span style="position: absolute; left: 180px; top: 1490px;">Excited.</span>
<span style="position: absolute; left: 390px; top: 1490px;">Carnival.</span>
<span style="position: absolute; left: 10px; top: 1510px;">Three days.</span>
<span style="position: absolute; left: 280px; top: 1530px;">Worried.</span>
<span style="position: absolute; left: 260px; top: 1560px;">Rumors.</span>
<span style="position: absolute; left: 80px; top: 1580px;">Unaware.</span>
<span style="position: absolute; left: 0px; top: 1610px;">True evil.</span>
<span style="position: absolute; left: 190px; top: 1630px;">Everywhere.</span>
</p>
<br />
<img src="{{ STATIC_URL }}images/majoras-mask-poem/majoras-mask-6.jpg" width="400" height="214"  style="border: 2px solid #000; padding: 0;" alt="Majora's Mask Woodfall" title="Majora's Mask Woodfall" />
<br />
<p>
<span style="position: absolute; left: 300px; top: 1680px;">Must journey.</span>
<span style="position: absolute; left: 150px; top: 1710px;">Must battle.</span>
<span style="position: absolute; left: 200px; top: 1860px;">Must win.</span>
</p>
<br />
<img src="{{ STATIC_URL }}images/majoras-mask-poem/majoras-mask-7.jpg" width="400" height="214"  style="border: 2px solid #000; padding: 0;" alt="Majora's Mask Giants Ending" title="Majora's Mask Giants Ending" />
<br />
<p>
<span style="position: absolute; left: 415px; top: 1920px;">Relief.</span>
<span style="position: absolute; left: 90px; top: 1940px;">Giants.</span>
<span style="position: absolute; left: 170px; top: 1980px;">Saviors.</span>
<span style="position: absolute; left: 300px; top: 1950px;">Joy.</span>
<span style="position: absolute; left: 60px; top: 2030px;">Panic.</span>
<span style="position: absolute; left: 240px; top: 2060px;">Not enough.</span>
<span style="position: absolute; left: 380px; top: 2020px;">Not much time.</span>
<span style="position: absolute; left: 10px; top: 2120px;">Last hope.</span>
<span style="position: absolute; left: 350px; top: 2150px;">All up to me.</span>
</p>
<br />
<img src="{{ STATIC_URL }}images/majoras-mask-poem/majoras-mask-8.jpg" width="400" height="224"  style="border: 2px solid #000; padding: 0;" alt="Majora's Mask Clock Tower Festival Fireworks" title="Majora's Mask Clock Tower Festival Fireworks" />
<br />
<p>
<span style="position: absolute; left: 175px; top: 2250px;">Conquered.</span>
<span style="position: absolute; left: 20px; top: 2300px;">Exhaustion.</span>
<span style="position: absolute; left: 230px; top: 2280px;">Townspeople overjoyed.</span>
<span style="position: absolute; left: 370px; top: 2380px;">Celebration.</span>
<span style="position: absolute; left: 230px; top: 2430px;">Return to innocence.</span>
</p>
</div>

{% endblock %}