{% extends 'blog_base.html' %}
{% load custom_tags %}

{% block title %}Zelda paper models{% endblock %}

{% block date %}2008-10-03{% endblock %}

{% block article_content %}

{% fancybox 'zelda-paper-models.jpg' 'Link and Zelda Paper Models' %}

<p>I ran across a <a href="http://ninjatoes.wordpress.com/category/the-legend-of-zelda/" title="Zelda Paper Models">paper model website</a> while searching for Majora's Mask images, and was very impressed and intrigued. This person makes paper models of things, including a a bunch of Zelda characters: Link and Zelda from Ocarina of Time, Majora's Mask from MM, the King of Red Lions from Wind Waker, and Wolf Link from Twilight Princess to name a few. I was surprised how great they look for paper models. The low-poly look of the N64 Zelda games and the low-poly look of folded paper combines to seem like the characters somehow walked right out of the screen.</p>

<p>He has all of his cut-out patterns for free download complete with gluing tabs and folding lines so you can make your own! I might just have to try to make one myself. What a cool hobby.</p>

{% endblock %}