{% extends 'blog_base.html' %}

{% block title %}Woops!{% endblock %}

{% block article_content %}

<h1>Woops!</h1>

<img src="{{ STATIC_URL }}images/misc/surprised-cat.jpg" class="float-right" alt="Surprised Kitty" />

<p>Some kind of error occurred. The thing you're trying to get to is probably still here on this site, just located under a different link. Have a look around and you'll probably find it. :)</p>

<p>If you can't find what you're looking for, email me at herbalcell@gmail.com to let me know what happened. Thanks!</p>

{% endblock %}